//
// mex.xcconfig
//
// Xcode build settings for MEX functions
// These settings are required to be compatible with MATLAB
//

// Installation directory of MATLAB
MATLABROOT = $(LOCAL_APPS_DIR)/MATLAB_R2016a.app

// Build Options
//GCC_VERSION = com.apple.compilers.llvmgcc42

// Deployment
MACOSX_DEPLOYMENT_TARGET = 10.9
